USE [TKHTQuanLyBanHang]
GO
/****** Object:  Table [dbo].[DM_CUA_HANG]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_CUA_HANG](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_CUA_HANG] [nvarchar](15) NOT NULL,
	[TEN_CUA_HANG] [nvarchar](200) NOT NULL,
	[DIA_CHI] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_DM_CUA_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_CUA_HANG] UNIQUE NONCLUSTERED 
(
	[MA_CUA_HANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_HANG_HOA]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_HANG_HOA](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_HANG_HOA] [nvarchar](15) NOT NULL,
	[MA_VACH] [nvarchar](50) NOT NULL,
	[TEN_HANG_HOA] [nvarchar](200) NOT NULL,
	[ID_NHA_CUNG_CAP] [decimal](18, 0) NULL,
	[MO_TA] [ntext] NOT NULL,
 CONSTRAINT [PK_DM_HANG_HOA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_HANG_HOA] UNIQUE NONCLUSTERED 
(
	[MA_HANG_HOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_HANG_HOA_1] UNIQUE NONCLUSTERED 
(
	[MA_VACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_KHACH_HANG]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_KHACH_HANG](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NOT NULL,
	[LIEN_LAC] [nvarchar](2000) NOT NULL,
	[NGAY_THAM_GIA] [datetime] NOT NULL,
	[DIEM] [decimal](18, 0) NOT NULL,
	[TONG_TIEN_DA_MUA] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_DM_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_KHACH_HANG] UNIQUE NONCLUSTERED 
(
	[ID_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_LINK_ANH]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_LINK_ANH](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[LINK_ANH] [nvarchar](500) NOT NULL,
	[TEN_ANH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_LINK_ANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_LOAI_TAG]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_LOAI_TAG](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_LOAI_TAG] [nvarchar](100) NOT NULL,
	[TEN_LOAI_TAG] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_LOAI_TAG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_LOAI_TAG] UNIQUE NONCLUSTERED 
(
	[MA_LOAI_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_LOAI_TAI_KHOAN]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_LOAI_TAI_KHOAN](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_LOAI] [nvarchar](50) NOT NULL,
	[TEN_LOAI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DM_LOAI_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_LOAI_TAI_KHOAN] UNIQUE NONCLUSTERED 
(
	[MA_LOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_NHA_CUNG_CAP]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_NHA_CUNG_CAP](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[TEN_NHA_CUNG_CAP] [nvarchar](200) NOT NULL,
	[SO_DIEN_THOAI] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[DIA_CHI] [nvarchar](500) NOT NULL,
	[TEN_NGUOI_DAI_DIEN] [nvarchar](50) NULL,
 CONSTRAINT [PK_DM_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_NHA_CUNG_CAP] UNIQUE NONCLUSTERED 
(
	[TEN_NHA_CUNG_CAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_QUYEN]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_QUYEN](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_QUYEN] [nvarchar](50) NOT NULL,
	[TEN_QUYEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DM_QUYEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_QUYEN] UNIQUE NONCLUSTERED 
(
	[MA_QUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_QUYEN_CHI_TIET]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_QUYEN_CHI_TIET](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NOT NULL,
	[ID_CUA_HANG] [decimal](18, 0) NOT NULL,
	[ID_QUYEN] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DM_QUYEN_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_QUYEN_CHI_TIET] UNIQUE NONCLUSTERED 
(
	[ID_CUA_HANG] ASC,
	[ID_QUYEN] ASC,
	[ID_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DM_TAI_KHOAN]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DM_TAI_KHOAN](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[TEN_TAI_KHOAN] [nvarchar](50) NOT NULL,
	[MAT_KHAU] [nvarchar](100) NOT NULL,
	[HO_DEM] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[ID_LOAI_TAI_KHOAN] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DM_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_DM_TAI_KHOAN] UNIQUE NONCLUSTERED 
(
	[TEN_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_CLICK_HANG_HOA]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CLICK_HANG_HOA](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[THOI_GIAN] [datetime] NOT NULL,
 CONSTRAINT [PK_GD_CLICK_HANG_HOA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_CLICK_HANG_HOA] UNIQUE NONCLUSTERED 
(
	[ID_HANG_HOA] ASC,
	[ID_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_DANH_GIA]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_DANH_GIA](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[DIEM] [decimal](2, 0) NOT NULL,
 CONSTRAINT [PK_GD_DANH_GIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_DANH_GIA] UNIQUE NONCLUSTERED 
(
	[ID_HANG_HOA] ASC,
	[ID_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_GIA]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GIA](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[NGAY_LUU_HANH] [datetime] NOT NULL,
	[GIA] [decimal](14, 4) NOT NULL,
 CONSTRAINT [PK_GD_GIA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_GIA] UNIQUE NONCLUSTERED 
(
	[ID_HANG_HOA] ASC,
	[NGAY_LUU_HANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_HANG_HOA_TAG]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_HANG_HOA_TAG](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[ID_TAG] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_GD_HANG_HOA_TAG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_HANG_HOA_TAG] UNIQUE NONCLUSTERED 
(
	[ID_HANG_HOA] ASC,
	[ID_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_HOA_DON]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_HOA_DON](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_HOA_DON] [nvarchar](20) NOT NULL,
	[ID_CUA_HANG] [decimal](18, 0) NOT NULL,
	[THOI_GIAN_TAO] [datetime] NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NULL,
	[LOAI_THANH_TOAN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GD_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_HOA_DON_CHI_TIET]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_HOA_DON_CHI_TIET](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_HOA_DON] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[SO_LUONG] [decimal](18, 0) NOT NULL,
	[GIA_BAN] [decimal](14, 4) NOT NULL,
	[DA_THANH_TOAN] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_GD_HOA_DON_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_HOA_DON_CHI_TIET] UNIQUE NONCLUSTERED 
(
	[ID_HOA_DON] ASC,
	[ID_HANG_HOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_KHUYEN_MAI]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_KHUYEN_MAI](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_DOT] [nvarchar](50) NOT NULL,
	[MO_TA] [nvarchar](1000) NOT NULL,
	[THOI_GIAN_BAT_DAU] [datetime] NOT NULL,
	[THOI_GIAN_KET_THUC] [datetime] NOT NULL,
 CONSTRAINT [PK_GD_KHUYEN_MAI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_KHUYEN_MAI] UNIQUE NONCLUSTERED 
(
	[MA_DOT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_KHUYEN_MAI_CHI_TIET]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_KHUYEN_MAI_CHI_TIET](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_KHUYEN_MAI] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[MUC_KHUYEN_MAI] [decimal](8, 4) NOT NULL,
 CONSTRAINT [PK_GD_KHUYEN_MAI_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_KHUYEN_MAI_CHI_TIET] UNIQUE NONCLUSTERED 
(
	[ID_KHUYEN_MAI] ASC,
	[ID_HANG_HOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_NHAN_XET]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_NHAN_XET](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[THOI_GIAN] [datetime] NOT NULL,
	[NHAN_XET] [ntext] NOT NULL,
 CONSTRAINT [PK_GD_NHAN_XET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_NHAN_XET] UNIQUE NONCLUSTERED 
(
	[ID_TAI_KHOAN] ASC,
	[ID_HANG_HOA] ASC,
	[THOI_GIAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_PHIEU_NHAP_XUAT]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_PHIEU_NHAP_XUAT](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[MA_PHIEU] [nvarchar](20) NOT NULL,
	[NGAY_NHAP] [datetime] NOT NULL,
	[LOAI_PHIEU] [nvarchar](1) NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NULL,
 CONSTRAINT [PK_GD_PHIEU_NHAP_XUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_PHIEU_NHAP_XUAT] UNIQUE NONCLUSTERED 
(
	[MA_PHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_PHIEU_NHAP_XUAT_CHI_TIET]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_PHIEU_NHAP_XUAT_CHI_TIET](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_PHIEU_NHAP_XUAT] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[SO_LUONG] [decimal](18, 0) NOT NULL,
	[GIA_NHAP_XUAT] [decimal](14, 4) NOT NULL,
 CONSTRAINT [PK_GD_PHIEU_NHAP_XUAT_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_PHIEU_NHAP_XUAT_CHI_TIET] UNIQUE NONCLUSTERED 
(
	[ID_PHIEU_NHAP_XUAT] ASC,
	[ID_HANG_HOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_SAN_PHAM_UA_THICH]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_SAN_PHAM_UA_THICH](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TAI_KHOAN] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_GD_SAN_PHAM_UA_THIC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_SAN_PHAM_UA_THIC] UNIQUE NONCLUSTERED 
(
	[ID_HANG_HOA] ASC,
	[ID_TAI_KHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_TAG]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_TAG](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_LOAI_TAG] [decimal](18, 0) NOT NULL,
	[MA_TAG] [nvarchar](100) NOT NULL,
	[TEN_TAG] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_GD_TAG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_TAG] UNIQUE NONCLUSTERED 
(
	[ID_LOAI_TAG] ASC,
	[MA_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_TAG_CHI_TIET]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_TAG_CHI_TIET](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_TAG_CHA] [decimal](18, 0) NOT NULL,
	[ID_TAG_CON] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_GD_TAG_CHI_TIET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_TON_KHO]    Script Date: 06-Mar-16 11:32:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_TON_KHO](
	[ID] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_CUA_HANG] [decimal](18, 0) NOT NULL,
	[ID_HANG_HOA] [decimal](18, 0) NOT NULL,
	[SO_LUONG_TON_KHO] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_GD_TON_KHO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_GD_TON_KHO] UNIQUE NONCLUSTERED 
(
	[ID_CUA_HANG] ASC,
	[ID_HANG_HOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DM_HANG_HOA]  WITH CHECK ADD  CONSTRAINT [FK_DM_HANG_HOA_DM_NHA_CUNG_CAP] FOREIGN KEY([ID_NHA_CUNG_CAP])
REFERENCES [dbo].[DM_NHA_CUNG_CAP] ([ID])
GO
ALTER TABLE [dbo].[DM_HANG_HOA] CHECK CONSTRAINT [FK_DM_HANG_HOA_DM_NHA_CUNG_CAP]
GO
ALTER TABLE [dbo].[DM_KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_DM_KHACH_HANG_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[DM_KHACH_HANG] CHECK CONSTRAINT [FK_DM_KHACH_HANG_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[DM_LINK_ANH]  WITH CHECK ADD  CONSTRAINT [FK_DM_LINK_ANH_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[DM_LINK_ANH] CHECK CONSTRAINT [FK_DM_LINK_ANH_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[DM_QUYEN_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_DM_QUYEN_CHI_TIET_DM_CUA_HANG] FOREIGN KEY([ID_CUA_HANG])
REFERENCES [dbo].[DM_CUA_HANG] ([ID])
GO
ALTER TABLE [dbo].[DM_QUYEN_CHI_TIET] CHECK CONSTRAINT [FK_DM_QUYEN_CHI_TIET_DM_CUA_HANG]
GO
ALTER TABLE [dbo].[DM_QUYEN_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_DM_QUYEN_CHI_TIET_DM_QUYEN] FOREIGN KEY([ID_QUYEN])
REFERENCES [dbo].[DM_QUYEN] ([ID])
GO
ALTER TABLE [dbo].[DM_QUYEN_CHI_TIET] CHECK CONSTRAINT [FK_DM_QUYEN_CHI_TIET_DM_QUYEN]
GO
ALTER TABLE [dbo].[DM_QUYEN_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_DM_QUYEN_CHI_TIET_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[DM_QUYEN_CHI_TIET] CHECK CONSTRAINT [FK_DM_QUYEN_CHI_TIET_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[DM_TAI_KHOAN]  WITH CHECK ADD  CONSTRAINT [FK_DM_TAI_KHOAN_DM_LOAI_TAI_KHOAN] FOREIGN KEY([ID_LOAI_TAI_KHOAN])
REFERENCES [dbo].[DM_LOAI_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[DM_TAI_KHOAN] CHECK CONSTRAINT [FK_DM_TAI_KHOAN_DM_LOAI_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GD_CLICK_HANG_HOA]  WITH CHECK ADD  CONSTRAINT [FK_GD_CLICK_HANG_HOA_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_CLICK_HANG_HOA] CHECK CONSTRAINT [FK_GD_CLICK_HANG_HOA_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_CLICK_HANG_HOA]  WITH CHECK ADD  CONSTRAINT [FK_GD_CLICK_HANG_HOA_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[GD_CLICK_HANG_HOA] CHECK CONSTRAINT [FK_GD_CLICK_HANG_HOA_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GD_DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_GD_DANH_GIA_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_DANH_GIA] CHECK CONSTRAINT [FK_GD_DANH_GIA_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_DANH_GIA]  WITH CHECK ADD  CONSTRAINT [FK_GD_DANH_GIA_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[GD_DANH_GIA] CHECK CONSTRAINT [FK_GD_DANH_GIA_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GD_GIA]  WITH CHECK ADD  CONSTRAINT [FK_GD_GIA_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_GIA] CHECK CONSTRAINT [FK_GD_GIA_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_HANG_HOA_TAG]  WITH CHECK ADD  CONSTRAINT [FK_GD_HANG_HOA_TAG_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_HANG_HOA_TAG] CHECK CONSTRAINT [FK_GD_HANG_HOA_TAG_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_HANG_HOA_TAG]  WITH CHECK ADD  CONSTRAINT [FK_GD_HANG_HOA_TAG_GD_TAG] FOREIGN KEY([ID_TAG])
REFERENCES [dbo].[GD_TAG] ([ID])
GO
ALTER TABLE [dbo].[GD_HANG_HOA_TAG] CHECK CONSTRAINT [FK_GD_HANG_HOA_TAG_GD_TAG]
GO
ALTER TABLE [dbo].[GD_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_GD_HOA_DON_DM_CUA_HANG] FOREIGN KEY([ID_CUA_HANG])
REFERENCES [dbo].[DM_CUA_HANG] ([ID])
GO
ALTER TABLE [dbo].[GD_HOA_DON] CHECK CONSTRAINT [FK_GD_HOA_DON_DM_CUA_HANG]
GO
ALTER TABLE [dbo].[GD_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_GD_HOA_DON_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[GD_HOA_DON] CHECK CONSTRAINT [FK_GD_HOA_DON_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GD_HOA_DON_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_HOA_DON_CHI_TIET_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_HOA_DON_CHI_TIET] CHECK CONSTRAINT [FK_GD_HOA_DON_CHI_TIET_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_HOA_DON_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_HOA_DON_CHI_TIET_GD_HOA_DON] FOREIGN KEY([ID_HOA_DON])
REFERENCES [dbo].[GD_HOA_DON] ([ID])
GO
ALTER TABLE [dbo].[GD_HOA_DON_CHI_TIET] CHECK CONSTRAINT [FK_GD_HOA_DON_CHI_TIET_GD_HOA_DON]
GO
ALTER TABLE [dbo].[GD_KHUYEN_MAI_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_KHUYEN_MAI_CHI_TIET_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_KHUYEN_MAI_CHI_TIET] CHECK CONSTRAINT [FK_GD_KHUYEN_MAI_CHI_TIET_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_KHUYEN_MAI_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_KHUYEN_MAI_CHI_TIET_GD_KHUYEN_MAI] FOREIGN KEY([ID_KHUYEN_MAI])
REFERENCES [dbo].[GD_KHUYEN_MAI] ([ID])
GO
ALTER TABLE [dbo].[GD_KHUYEN_MAI_CHI_TIET] CHECK CONSTRAINT [FK_GD_KHUYEN_MAI_CHI_TIET_GD_KHUYEN_MAI]
GO
ALTER TABLE [dbo].[GD_NHAN_XET]  WITH CHECK ADD  CONSTRAINT [FK_GD_NHAN_XET_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_NHAN_XET] CHECK CONSTRAINT [FK_GD_NHAN_XET_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_NHAN_XET]  WITH CHECK ADD  CONSTRAINT [FK_GD_NHAN_XET_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[GD_NHAN_XET] CHECK CONSTRAINT [FK_GD_NHAN_XET_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GD_PHIEU_NHAP_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_GD_PHIEU_NHAP_XUAT_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[GD_PHIEU_NHAP_XUAT] CHECK CONSTRAINT [FK_GD_PHIEU_NHAP_XUAT_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GD_PHIEU_NHAP_XUAT_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_PHIEU_NHAP_XUAT_CHI_TIET_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_PHIEU_NHAP_XUAT_CHI_TIET] CHECK CONSTRAINT [FK_GD_PHIEU_NHAP_XUAT_CHI_TIET_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_PHIEU_NHAP_XUAT_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_PHIEU_NHAP_XUAT_CHI_TIET_GD_PHIEU_NHAP_XUAT] FOREIGN KEY([ID_PHIEU_NHAP_XUAT])
REFERENCES [dbo].[GD_PHIEU_NHAP_XUAT] ([ID])
GO
ALTER TABLE [dbo].[GD_PHIEU_NHAP_XUAT_CHI_TIET] CHECK CONSTRAINT [FK_GD_PHIEU_NHAP_XUAT_CHI_TIET_GD_PHIEU_NHAP_XUAT]
GO
ALTER TABLE [dbo].[GD_SAN_PHAM_UA_THICH]  WITH CHECK ADD  CONSTRAINT [FK_GD_SAN_PHAM_UA_THIC_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_SAN_PHAM_UA_THICH] CHECK CONSTRAINT [FK_GD_SAN_PHAM_UA_THIC_DM_HANG_HOA]
GO
ALTER TABLE [dbo].[GD_SAN_PHAM_UA_THICH]  WITH CHECK ADD  CONSTRAINT [FK_GD_SAN_PHAM_UA_THIC_DM_TAI_KHOAN] FOREIGN KEY([ID_TAI_KHOAN])
REFERENCES [dbo].[DM_TAI_KHOAN] ([ID])
GO
ALTER TABLE [dbo].[GD_SAN_PHAM_UA_THICH] CHECK CONSTRAINT [FK_GD_SAN_PHAM_UA_THIC_DM_TAI_KHOAN]
GO
ALTER TABLE [dbo].[GD_TAG]  WITH CHECK ADD  CONSTRAINT [FK_GD_TAG_DM_LOAI_TAG] FOREIGN KEY([ID_LOAI_TAG])
REFERENCES [dbo].[DM_LOAI_TAG] ([ID])
GO
ALTER TABLE [dbo].[GD_TAG] CHECK CONSTRAINT [FK_GD_TAG_DM_LOAI_TAG]
GO
ALTER TABLE [dbo].[GD_TAG_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_TAG_CHI_TIET_GD_TAG] FOREIGN KEY([ID_TAG_CHA])
REFERENCES [dbo].[GD_TAG] ([ID])
GO
ALTER TABLE [dbo].[GD_TAG_CHI_TIET] CHECK CONSTRAINT [FK_GD_TAG_CHI_TIET_GD_TAG]
GO
ALTER TABLE [dbo].[GD_TAG_CHI_TIET]  WITH CHECK ADD  CONSTRAINT [FK_GD_TAG_CHI_TIET_GD_TAG1] FOREIGN KEY([ID_TAG_CON])
REFERENCES [dbo].[GD_TAG] ([ID])
GO
ALTER TABLE [dbo].[GD_TAG_CHI_TIET] CHECK CONSTRAINT [FK_GD_TAG_CHI_TIET_GD_TAG1]
GO
ALTER TABLE [dbo].[GD_TON_KHO]  WITH CHECK ADD  CONSTRAINT [FK_GD_TON_KHO_DM_CUA_HANG] FOREIGN KEY([ID_CUA_HANG])
REFERENCES [dbo].[DM_CUA_HANG] ([ID])
GO
ALTER TABLE [dbo].[GD_TON_KHO] CHECK CONSTRAINT [FK_GD_TON_KHO_DM_CUA_HANG]
GO
ALTER TABLE [dbo].[GD_TON_KHO]  WITH CHECK ADD  CONSTRAINT [FK_GD_TON_KHO_DM_HANG_HOA] FOREIGN KEY([ID_HANG_HOA])
REFERENCES [dbo].[DM_HANG_HOA] ([ID])
GO
ALTER TABLE [dbo].[GD_TON_KHO] CHECK CONSTRAINT [FK_GD_TON_KHO_DM_HANG_HOA]
GO
